<!--The content below is only a placeholder and can be replaced.-->
  <div class="container">
  <form class=" justify-content-center">
    <div class="form-group">
      <input type="text" class="form-control" id="search-itunes" placeholder="Search iTunes" #itunes>
      
    </div>
    <button (click)="search(itunes)" class="btn btn-primary">Submit</button>
  </form>
  </div>
    

<div *ngIf="model.items !== null" id="itunes-module" class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let item of model.items">
          <div class="row justify-content-md-center">
            <div class="col-lg-3 col-sm-3 image-crop">
              <img [defaultImage]="default_img" [lazyLoad]="item.artworkUrl" alt="{{ item.artworkUrl }}" class="{{ img_class }}"/>
            </div>
            <div class="col-lg-9 col-sm-9">
                <h2> <a href="#">{{ (item.artistName.length > 40)? (item.artistName | slice:0:40)+'...':(item.artistName)  }}</a> </h2>
                <p><small> {{item.trackName}} </small></p>
              <div class="row bottom-content">
                <div class="col-sm-12 mobile-show"><p>Released: {{ item.releaseDate }}<p></div>
              </div>
              <div class="row bottom-content">
                  <div class="col-md-3 col-sm-6"><p><a href="{{ item.trackViewUrl }}" target="_blank">Go to track</a></p></div>
                  <div class="col-md-6 mobile-hide"><p>Released: {{ item.releaseDate }}<p></div>
                  <div class="col-md-3 col-sm-6"><p><a href="{{ item.previewUrl }}" target="_blank">Preview</a></p></div>
              </div>
            </div>
          </div>
      </li>
    </ul>
  </div>
  

